<div class="about-section">
  <h1>Dicono di noi</h1>
  <div class="row">
    <div class="col-md-4">
      <div class="article">
       
         <img src="assets/corriere-logo.jpg" alt="Logo" class="logo">


        <blockquote>
          «In un mondo che fa dell’immagine il principale mezzo di comunicazione, Stand Alone Complex sceglie l’orecchio come senso principale. È da questa premessa che nasce l’Audioscena, uno spazio dove parole e musica si fondono esortando l’ascoltatore a chiudere gli occhi e immaginare l’altrove che gli viene raccontato»
        </blockquote>
        <cite>Rosarianna Romano su Il Corriere</cite>
      </div>
    </div>
    <div class="col-md-4">
      <div class="article">
        <img src="assets/favicon-bc.png" alt="Logo" class="logo">
        <blockquote>
          «La descrizione minuziosa dell'arrivo a Colebrook attira l'ascoltatore attraverso le rovine della città, che riconducono alla desolazione di un personaggio Sveviano, inerme in un panorama sconosciuto. Gli arrangiamenti psichedelici ed elettronici di questa prima parte si amalgamano sin da subito con le parole, in un unico prodotto finale dove risulta impossibile scindere narrazione e sonoro. »
        </blockquote>
        <cite> Giuseppe Procino su Bonculture</cite>
      </div>
    </div>
    <div class="col-md-4">
      <div class="article">
        <img src="assets/logo.png" alt="Logo" class="logo">
        <blockquote>
          «In una staffetta ben riuscita, alle chitarre si affianca un uso pesato dei sintetizzatori che, in alcuni passaggi, conducono per mano lo "spettatore" verso delle piacevoli derive ambient, dark e shoegaze. »
        </blockquote>
        <cite>Marianna Zito su Modulazioni Temporali</cite>
      </div>
    </div>
  </div>
</div>
