


// Nel tuo file SCSS personalizzato

.sectionPhoto {
  background-color: rgb(58, 38, 42);
  padding: 50px;
  display: flex; // Utilizza flexbox per allineare le immagini
  justify-content: space-between; // Spazio tra le immagini

  .img-fluid {
    width: calc(33.33% - 20px); // Larghezza delle immagini con spazi tra loro
    height: auto;
  }
  .imgCentral{
    width: 500px;
    height: 50vh;
    padding-top: 100px;
    padding: 15px;
  }
}
