

.sectionPhoto {
  background-color: rgb(58, 38, 42);
  padding: 50px;
  display: flex;
  justify-content: space-between;

  .img-fluid {
    width: calc(33.33% - 20px);
    height: auto;
  }
  .imgCentral{
    width: 500px;
    height: 50vh;
    padding-top: 100px;
    padding: 15px;
  }
}
