<div class="audio-scene-container">
  <div class="audio-main">
    <img src="assets/audio-scene.jpg" alt="Main Image" class="main-image">
    <h2>L’Orrore: Colebrook</h2>
    <p>Joel è un giovane giornalista inviato a Colebrook, nel Connecticut, per un reportage. Nudo di fronte a se stesso.

      Thriller psicologico, surreale scritto da Massimiliano Pietroforte per la collana "l’Orrore". Musiche di Gianfranco Maselli, Francesco Caragnano e Francesca Di Pierro. Produzione: SAC Recordings.</p>
  </div>
  <div class="audio-links">
    <div class="spotify-link">
      <a href="link_spotify1">Ascolta su Spotify</a>
      <p>Da questo momento in poi non è possibile assicurare o scandire il funzionamento del tempo</p>
    </div>
    <div class="spotify-link">
      <a href="link_spotify2">Ascolta su Spotify</a>
      <p>Per cortesia parli piu' piano. Ognuno ha i suoi tempi. Qui la gente dorme ancora.</p>
    </div>
    <div class="spotify-link">
      <a href="link_spotify3">Ascolta su Spotify</a>
      <p>Joel è un giovane giornalista inviato a Colebrook, nel Connecticut, per un reportage. Nudo di fronte a se stesso.</p>
    </div>
  </div>
</div>
